In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime, date, time

# Load Data

In [10]:
fp = os.path.join('..', 'data_out', 'model_sample_01.csv')
df = pd.read_csv(fp, parse_dates=['cycle_start_date'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21962 entries, 0 to 21961
Data columns (total 17 columns):
user_id                   21962 non-null int64
cycle_start_date          21962 non-null datetime64[ns]
cycle_length              21962 non-null object
expected_cycle_length     21962 non-null object
expected_period_length    21962 non-null object
mean_period_length        21962 non-null object
mean_cycle_length         21962 non-null object
acne                      10170 non-null float64
backache                  10653 non-null float64
bloating                  11242 non-null float64
cramp                     13848 non-null float64
diarrhea                  7210 non-null float64
dizzy                     6587 non-null float64
headache                  9808 non-null float64
mood                      11292 non-null float64
nausea                    6787 non-null float64
sore                      9707 non-null float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(5)
memory usage: 2.8+ MB

In [12]:
def parse_mmdd(id, date_in): 
    tt = date_in.timetuple()
    month_str = str(tt[1])
    year_str = str(tt[0])
    rtn_str = str(id) + year_str + month_str
    return(rtn_str)

In [13]:
df['key'] = ''

In [21]:
df.head()

,user_id,cycle_start_date,cycle_length,expected_cycle_length,expected_period_length,mean_period_length,mean_cycle_length,acne,backache,bloating,cramp,diarrhea,dizzy,headache,mood,nausea,sore,key,est_cycle
0,257,2015-03-10,32 days 00:00:00.000000000,30 days,6 days 00:00:00.000000000,4 days 12:00:00.000000000,32 days 00:00:00.000000000,NaN,NaN,NaN,46.0,NaN,27.0,47.5,NaN,NaN,NaN,25720153,30
1,258,2015-03-11,31 days 00:00:00.000000000,28 days,5 days 00:00:00.000000000,4 days 00:00:00.000000000,31 days 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25820153,28
2,262,2015-03-10,33 days 00:00:00.000000000,28 days,5 days 00:00:00.000000000,4 days 00:00:00.000000000,33 days 00:00:00.000000000,49.0,NaN,52.5,100.0,NaN,34.0,52.0,76.5,NaN,NaN,26220153,28
3,269,2015-08-28,34 days 00:00:00.000000000,28 days,8 days 00:00:00.000000000,5 days 12:00:00.000000000,31 days 09:36:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26920158,28
4,269,2015-12-02,33 days 00:00:00.000000000,28 days,8 days 00:00:00.000000000,5 days 12:00:00.000000000,31 days 09:36:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,269201512,28

In [16]:
for i in range(0, len(df)):
    df.iloc[i,17] = parse_mmdd(df.iloc[i, 0], df.iloc[i, 1])

In [24]:
df.head()

,user_id,cycle_start_date,cycle_length,expected_cycle_length,expected_period_length,mean_period_length,mean_cycle_length,acne,backache,bloating,...,dizzy,headache,mood,nausea,sore,key,est_cycle,act_cycle,est_period,act_period
0,257,2015-03-10,32 days,30 days,6 days,4 days 12:00:00,32 days 00:00:00.000000000,NaN,NaN,NaN,...,27.0,47.5,NaN,NaN,NaN,25720153,30,32,30,4
1,258,2015-03-11,31 days,28 days,5 days,4 days 00:00:00,31 days 00:00:00.000000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25820153,28,31,28,4
2,262,2015-03-10,33 days,28 days,5 days,4 days 00:00:00,33 days 00:00:00.000000000,49.0,NaN,52.5,...,34.0,52.0,76.5,NaN,NaN,26220153,28,33,28,4
3,269,2015-08-28,34 days,28 days,8 days,5 days 12:00:00,31 days 09:36:00.000000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,26920158,28,34,28,5
4,269,2015-12-02,33 days,28 days,8 days,5 days 12:00:00,31 days 09:36:00.000000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,269201512,28,33,28,5

In [22]:
# Expected Cycle 
df.expected_cycle_length = pd.to_timedelta(df.expected_cycle_length)
df['est_cycle'] = df.expected_cycle_length.dt.days

# Actual Cycle 
df.cycle_length = pd.to_timedelta(df.cycle_length)
df['act_cycle'] = df.cycle_length.dt.days

In [27]:
df.head()

,user_id,cycle_start_date,cycle_length,expected_cycle_length,expected_period_length,mean_period_length,mean_cycle_length,acne,backache,bloating,...,dizzy,headache,mood,nausea,sore,key,est_cycle,act_cycle,est_period,act_period
0,257,2015-03-10,32 days,30 days,6 days,4 days 12:00:00,32 days 00:00:00.000000000,NaN,NaN,NaN,...,27.0,47.5,NaN,NaN,NaN,25720153,30,32,6,4
1,258,2015-03-11,31 days,28 days,5 days,4 days 00:00:00,31 days 00:00:00.000000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25820153,28,31,5,4
2,262,2015-03-10,33 days,28 days,5 days,4 days 00:00:00,33 days 00:00:00.000000000,49.0,NaN,52.5,...,34.0,52.0,76.5,NaN,NaN,26220153,28,33,5,4
3,269,2015-08-28,34 days,28 days,8 days,5 days 12:00:00,31 days 09:36:00.000000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,26920158,28,34,8,5
4,269,2015-12-02,33 days,28 days,8 days,5 days 12:00:00,31 days 09:36:00.000000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,269201512,28,33,8,5

In [29]:
df = df.fillna(0)

In [26]:
# Expected Period 
df.expected_period_length = pd.to_timedelta(df.expected_period_length)
df['est_period'] = df.expected_period_length.dt.days

# Actual Period 
df.mean_period_length = pd.to_timedelta(df.mean_period_length)
df['act_period'] = df.mean_period_length.dt.days

In [30]:
df.head()

,user_id,cycle_start_date,cycle_length,expected_cycle_length,expected_period_length,mean_period_length,mean_cycle_length,acne,backache,bloating,...,dizzy,headache,mood,nausea,sore,key,est_cycle,act_cycle,est_period,act_period
0,257,2015-03-10,32 days,30 days,6 days,4 days 12:00:00,32 days 00:00:00.000000000,0.0,0.0,0.0,...,27.0,47.5,0.0,0.0,0.0,25720153,30,32,6,4
1,258,2015-03-11,31 days,28 days,5 days,4 days 00:00:00,31 days 00:00:00.000000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,25820153,28,31,5,4
2,262,2015-03-10,33 days,28 days,5 days,4 days 00:00:00,33 days 00:00:00.000000000,49.0,0.0,52.5,...,34.0,52.0,76.5,0.0,0.0,26220153,28,33,5,4
3,269,2015-08-28,34 days,28 days,8 days,5 days 12:00:00,31 days 09:36:00.000000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,26920158,28,34,8,5
4,269,2015-12-02,33 days,28 days,8 days,5 days 12:00:00,31 days 09:36:00.000000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,269201512,28,33,8,5

In [31]:
fp = os.path.join('..', 'data_out', 'model_sample_02.csv')
df.to_csv(fp)